body {
    background: linear-gradient(to bottom right, #FDABDD, #374A5A);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#userInput {
    width: 100%;
    height: 37px;
}

img {
    height: 100px;
    width: 100px !important;
    filter: drop-shadow(10px 10px 100px rgb(0, 208, 255));
}

.main {
    border: 1px solid black;
    overflow: auto;
    height: 500px;
    /* width: 400px; */
}

.main1 {
    border: 1px solid black;
    overflow: auto;
    height: 300px;
    /* width: 400px; */
}

.username {
    font-weight: 500;
}

#displayitem {
    background: linear-gradient(to bottom right, #FDFCFB, #E2D1C3);
    background-repeat: no-repeat;
    background-attachment: fixed;

}

#displayitem:hover {
    transform: rotate(5deg);
}

#secondDiv {
    background: white;
    display: none;
}

#super {
    border-radius: 10px;
    filter: blur(4px);
    transition: 500ms ease-in-out;
}

#super:hover {
    filter: blur(0);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
} 